<center>

<div class="mobile-font">

  <!-- Image Modal -->
  <div id="myModal" class="modal" onclick="document.getElementById('myModal').style.display='none'">
    <!-- The Close Button -->
    <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
    <!-- Modal Content (The Image) -->
    <img id="modalImg" class="modal-content" >
    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
  </div>

  <!-- Currently selected cell (if in progress) -->
  <div id="currentDiv">
    <table class="table table-borderless table-fit">
      <tbody>

        <!-- Image -->
        <tr>
          <img id="currentImg" src="" alt="" width="500" height="500">
        </tr>

        <!-- Progress Information -->
        <tr valign="middle" class="transparent-black">
          <!-- Progress Text -->
          <td colspan="2" align="center">
            <b id="progressText"></b>
            <i class='glyphicon glyphicon-remove-sign fa-1x' aria-hidden='true' ng-click="$ctrl.undoCell()"/>
          </td>
        </tr>
        <tr valign="middle" class="transparent-black">
          <td colspan="2" align="center">
            <!-- Progress Bar -->
            <div class="progress">
              <div id="progressBar"
                class="progress-bar progress-bar-success progress-bar-striped active progress-font"
                role="progressbar" aria-valuemin="0" aria-valuemax="100">
                </div>
                <span class="sr-only">25% Complete</span>
              </div>
          </td>
        </tr>

        <!-- Navigation Tools -->
        <tr class="black-bg-white-font">
          <!-- Select Cell Box -->
          <td align="center"><select id="currentSelect" class="black-bg-white-font"></select></td>
          <!-- Prev/Next Cell Buttons -->
          <td align="center">
            <i class="glyphicon glyphicon-circle-arrow-up   gi-1-half-x" aria-hidden="true" ng-click="$ctrl.prevCell()"></i>
            <i class="glyphicon glyphicon-circle-arrow-down gi-1-half-x" aria-hidden="true" ng-click="$ctrl.nextCell()"></i>
          </td>
        </tr>

        <!-- Location + Collect Button  -->
        <tr>
          <td class="red-bg-white-font" colspan="2" id="currentLocation" ></td>
        </tr>
        <tr>
          <td class="black-bg-red-font"><b>Collected?<b></td>
          <td class="red-bg-white-font"><center><i id="collectButton" class="fa fa-check-square fa-5x white-bg-black-font" aria-hidden="true" ></i></center></td>
        </tr>
      </tbody>
    </br>
    </table>
  </div>
</div>

</center>
